<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link type="text/css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<div class="container">
    <h1 id="title" class="text-center font-weight-light pt-5">Weather</h1>
    <div class="row">
        <div class="form-group col-md-4">
            <a class="btn btn-info btn-md" th:method="get" ype="button" th:href="@{/weather/new}">Add new</a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" th:each="columnName : ${weatherTableColumns}" th:text="${columnName}"/>
            </tr>
            </thead>
            <tbody>
            <tr scope="col" th:each="weatherData : ${weatherDataList}">
                <th scope="row" th:text="${weatherData.getId()}"/>
                <th scope="row" th:text="${weatherData.getCity().getCity_name()}"/>
                <th scope="row" th:text="${weatherData.getDate_time()}"/>
                <th scope="row" th:text="${weatherData.getTemperature()}"/>
                <th scope="row" th:text="${weatherData.getPrecipitation()}  + '%'"/>
                <th scope="row" th:text="${weatherData.getWind()}"/>
                <th scope="row" th:text="${weatherData.getHumidity()}  + '%'"/>
                <th scope="row" th:text="${weatherData.getDescription()}"/>
                <th scope="row">
                    <div class="form-group col-md-6">
                        <a class="btn btn-warning" type="button"
                           th:href="@{/weather/{weatherId}/(weatherId=${weatherData.id})}">EDIT</a>
                    </div>
                    <div class="form-group col-md-6">
                        <a th:href="@{/weather/{weatherId}/delete/(weatherId=${weatherData.id})}"
                           class="btn btn-danger">DELETE</a>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>